.detailsProduct{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.image{
    max-width: 100%;
    max-height: 200px;
}
.imageContainer{
    width: 80%;
    margin: 0 auto;
}